In [1]:
print("Hello world")

Hello world

In [2]:
#int type
x = 50
print(x)
print(type(x))

#float type
x = 34.5
print(x)
print(type(x))

#boo type
x = True
print(x)
print(type(x))

#str type
x = "Hello World"
print(x)
print(type(x))

50
<class 'int'>
34.5
<class 'float'>
True
<class 'bool'>
Hello World
<class 'str'>

In [3]:
x = 15
y = 2
z1 = x + y
z2 = x - y
z3 = x * y
z4 = x / y
z5 = x // y # Floor Division
z6 = x % y # Modulus
z7 = x ** y # Exponentation
print(z1)
print(z2)
print(z3)
print(z4)
print(z5)
print(z6)
print(z7)

17
13
30
7.5
7
1
225

In [4]:
a = 10
b = 20
print(a)
print(b)

10
20

In [5]:
age = 27
Age = 56
AGE = 34
print(age)
print(Age)
print(AGE)
print(AGe)

27
56
34

NameError: name 'AGe' is not defined

In [6]:
x = int(input("Enter value 1 "))
y = int(input("Enter value 2 "))
z = int(input("Enter value 3 "))

minimum = min(x,y,z)
maximum = max(x,y,z)

print ("Minimum value is ", minimum)
print ("Maximum value is ", maximum)

Enter value 1 25
Enter value 2 26
Enter value 3 86
Minimum value is  25
Maximum value is  86

In [10]:
sum = 0
Number1 = int(input("Enter Number1 "))
Number2 = int(input("Enter Number2 "))

sum = Number1 + Number2

print("sum is :",sum)

Enter Number1 56
Enter Number2 45
sum is : 101

In [11]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

area = length * width
perimeter = (2*length) + (2*width)

print ("Area is ", area)
print ("Perimeter is ", perimeter)

Enter Length 78
Enter Width 65
Area is  5070
Perimeter is  286

In [16]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

if length == width:
	 print ("Figure is a square")

Enter Length 15
Enter Width 15
Figure is a square

In [17]:
length = int(input("Enter Length "))
width = int(input("Enter Width "))

if length == width:
	 print ("Figure is a square")
else:
	 print ("Figure is a rectangle")

Enter Length 12
Enter Width 14
Figure is a rectangle

In [18]:
DOB = int(input("Enter year of birth "))

age = 2022 - DOB

if age >= 18:
	 print ("You are an adult..")
else:
	 print ("You are a child..")

Enter year of birth 2001
You are an adult..

In [19]:
number = 1

while number <= 100:
	print (number)
	number = number + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [20]:
iteration = 1
total = 0

while iteration <= 10:
	number = int(input("Enter number " ))
	total = total + number
	iteration = iteration + 1

print ("Sum is ", total)

Enter number 12
Enter number 56
Enter number 55
Enter number 23
Enter number 41
Enter number 53
Enter number 48
Enter number 74
Enter number 96
Enter number 66
Sum is  524

In [3]:
# Create a python program to input marks of 10 students and print the maximum mark, minimum mark and average mark of the students.
x=1
mark=[]
while x<= 10:
    number = int(input(f"student {x}: "))
    mark.append(number)
    x=x+1
maximum=max(mark)
minimum=min(mark)
average=sum(mark)/len(mark)
print("Maximum mark is : ",maximum)
print("Minimum mark is : ",minimum)
print("Average is : ",average)

student 1: 55
student 2: 45
student 3: 85
student 4: 78
student 5: 46
student 6: 77
student 7: 85
student 8: 55
student 9: 66
student 10: 99
Maximum mark is :  99
Minimum mark is :  45
Average is :  69.1

In [12]:
def determine_grade(mark):
    if mark > 75:
        return "A"
    elif 65 <= mark <= 75:
        return "B"
    elif 55 <= mark <= 64:
        return "C"
    elif 45 <= mark <= 54:
        return "S"
    else:
        return "F"

marks = []
x = 1
while x <= 5:
        mark = float(input(f"Enter mark {x}: "))
        if 0 <= mark <= 100:
            marks.append(mark)
            x=x+1

print("Grades:")
x = 1
while x<= 5:
    grade = determine_grade(marks[x - 1])
    print(f"Mark {x}: {marks[x - 1]} - Grade: {grade}")
    x=x+1

Enter mark 1: 85
Enter mark 2: 87
Enter mark 3: 84
Enter mark 4: 81
Enter mark 5: 82
Grades:
Mark 1: 85.0 - Grade: A
Mark 2: 87.0 - Grade: A
Mark 3: 84.0 - Grade: A
Mark 4: 81.0 - Grade: A
Mark 5: 82.0 - Grade: A

In [ ]:
def calculate_sum():
    total = 0
    while True:
        try:
            number = int(input("Enter a number (-999 to stop): "))
            if number == -999:
                break
            total += number
        except ValueError:
            print("Invalid input. Please enter a number.")
    return total

print("The sum of the numbers is:", calculate_sum())

Enter a number (-999 to stop): 85
Enter a number (-999 to stop): 65
Enter a number (-999 to stop): -88
Enter a number (-999 to stop): =1000
Invalid input. Please enter a number.